.app {
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.content {
  flex: 1;
  margin-left: 220px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .app { flex-direction: column; }
  .content { margin-left: 0; margin-bottom: 64px; }
}
